.App {
  font-family: sans-serif;
  text-align: center;
}
.error {
  color: #db2269;
  font-size: 0.625em;
  display: relative;
}

.inputStyle {
  width: 65%;
  height: 20px;
  /*padding: 12px 20px;*/
  margin-left: 16px;
  /*margin-bottom: 16px;*/
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 2px;
  border-style: "groove";
  box-sizing: border-box;
}

.submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.mainDiv {
  width: 100%;
}

.examDiv {
  border-style: ridge;
}

.form-group {
  width: 65%;
  padding: 10px;
  border: 2px ridge;
  margin: 10px;
}
.form-group > label {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: -20px;
  left: 20px;
  background-color: white;
}

.form-group > input {
  border: none;
}
